/* Navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home Section  */

#home{
        height: 370px;
        padding: 3px 28px;
}

#home::before{
    height: 410px;
}

#home p{
    font-size: 13px;
}

/* services section  */
#services {
flex-direction: column;
}

#services .box{
padding: 12px;
margin: 2px 6px;
margin-bottom: 24px;
}

/* client section  */
#clients{
flex-wrap: wrap;
}

#clients img{
    width: 100px;
    padding: 0px 8px;
    height: auto;
}
/* contact section  */

#contact-box form{
    width: 80%;
}
/* utility classes */
.h-primary{
    height:26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}